data/**
*results/**
resources/**
logs/**
.snakemake
.snakemake/**
.test/results**
.test/resources**
.test/ftp*/**
.test/github.com/**
.snakemake-cache
github.com/**
ftp*/**
config/*tsv
config/*ipynb
*edu/*
