name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

# TODO: optionally enable cache
# env:
#   SNAKEMAKE_OUTPUT_CACHE: snakemake_cache

jobs:
  Formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Formatting
        uses: github/super-linter@v4
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_SNAKEMAKE_SNAKEFMT: true
          VALIDATE_R: true
          VALIDATE_PYTHON_BLACK: true
          VALIDATE_YAML: true

  Testing:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    needs:
      - Formatting
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
          submodules: recursive
      # TODO: optionally enable cache
      # - name: Snakemake cache
      #   id: cache-sm
      #   uses: actions/cache@v3
      #   with:
      #     path: ${{ env.SNAKEMAKE_OUTPUT_CACHE }}
      #     key: ${{ runner.os }}-sm
      - name: Setup Singularity
        uses: eWaterCycle/setup-singularity@v7
        with:
          singularity-version: 3.8.3
      - name: Install Mamba
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-variant: Mambaforge-pypy3
          miniforge-version: latest
          use-mamba: true
          python-version: 3.9
          channels: conda-forge,bioconda,nodefaults
          channel-priority: strict
          environment-file: environment.yaml
      - name: Generate test data
        run: cd .test/ngs-test-data && snakemake all --use-conda --cores 2
      - name: Run workflow
        run: |
          mkdir -p ${{ env.SNAKEMAKE_OUTPUT_CACHE }}
          export SNAKEMAKE_OUTPUT_CACHE=${{ env.SNAKEMAKE_OUTPUT_CACHE }}
          snakemake all \
          --use-conda \
          --use-singularity \
          --directory .test \
          --cores 2 \
          # --cache \ # TODO: optionally enable cache
          --show-failed-logs \
          --conda-cleanup-pkgs cache \
          --all-temp
